body {
    background-color: black;
}
h1 {
    font-size: 1rem;
    text-transform: uppercase;
}
.poster {
    width: 50%;
    margin-top: 30%;
    margin-left: 50px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.motivation-img {
    width: 50%;
    border: 10px solid white;
}